body{
    background: linear-gradient(-45deg, #8E0D3C,  #1D1842,  #EF3B33) ;
	background-size: 400% 1000%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.text{
    
    font-size: 20px;
    color: #BFA181;
}
.text1{
    margin-top: 23px;
    margin-right: 150px;
    font-size: 20px;
    color: #BFA181;
}
img{
   margin-top: 20px;
    margin-right: 20px;
    float:left;
   
}